.footer{
    width: 100%;
    height: 72px;
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__button{
        border: unset;
        background-color: $color-white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    a{
        text-decoration: unset;
        color: $color-black;

    }
    p{
        display: none;
    }
}
%button-black{ 
    p{
        display: inline;
        color: #85D1CE;
    }
    transition: 0.2s all ease-in;
}
.button-black-0{
    @extend %button-black;
    @include button(102px);
}
.button-black-1{
    @extend %button-black;
    @include button(124px); 
}
.button-black-2{
    @extend %button-black;
    @include button(122px);  
}
.button-black-3{
    @extend %button-black;
    @include button(98px);  

}